@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1707038123,
.custom-shape-divider-top-1706911286 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
}

.custom-shape-divider-top-1707038123 svg,
.custom-shape-divider-top-1706911286 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}

.custom-shape-divider-top-1707038123 svg {
  transform: rotateY(180deg);
}

.input-container:focus-within label,
.filled label {
  transform: translate(-0.5rem, 0.5rem) scale(0.8);
}

.lightinput:focus {
  box-shadow: 0 0 0 2px #79b1ff;
}

.darkinput:focus {
  box-shadow: 0 0 0 2px #fff989;
}
