@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #fefae0;
}

.custom-shape-divider-top-1706909798 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1706909798 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 50vh;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1706909798 .shape-fill {
  fill: #faedcd;
}

.custom-shape-divider-top-1706911286 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1706911286 svg {
  position: relative;
  display: block;
  width: calc(160% + 1.3px);
  height: 30vh;
}

.custom-shape-divider-top-1706911286 .shape-fill {
  fill: #fefae0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
