@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-top-1707038123,
.custom-shape-divider-top-1706911286 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1707038123 svg,
.custom-shape-divider-top-1706911286 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
}

.custom-shape-divider-top-1707038123 {
  top: -3vh;
  z-index: 1;
}

.custom-shape-divider-top-1707038123 svg {
  height: 25vh;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1706911286 {
  top: 0;
}

.custom-shape-divider-top-1706911286 svg {
  height: 30vh;
}
